<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523660262535-lrmi2rm5tthh77nbnitgpoe53tg3lk7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523660262535-lrmi2rm5tthh77nbnitgpoe53tg3lk7d</string>
	<key>API_KEY</key>
	<string>AIzaSyA0tvTZGAddRssikcHUzt0dHInaE2xWb78</string>
	<key>GCM_SENDER_ID</key>
	<string>523660262535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fokkkus</string>
	<key>PROJECT_ID</key>
	<string>fokkkus</string>
	<key>STORAGE_BUCKET</key>
	<string>fokkkus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523660262535:ios:416aff93ad0fcc19a78c22</string>
</dict>
</plist>